<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de Pedidos</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex min-h-screen">
<div class="w-64 bg-white border-r border-gray-200 shadow-lg">
  <div class="p-4 text-xl font-bold border-b">
    <a th:href="@{/admin/dashboard}">
      <img src="/images/logo.png" alt="SmartShop" class="w-40" />
    </a>
  </div>
  <nav class="p-4 space-y-2">
    <a th:href="@{/admin/users}" class="block px-4 py-2 rounded hover:bg-gray-100 text-gray-700">Usuarios</a>
    <a th:href="@{/admin/orders}" class="block px-4 py-2 rounded hover:bg-gray-100 text-gray-700 font-semibold">Pedidos</a>
    <a th:href="@{/admin/quotes}" class="block px-4 py-2 rounded hover:bg-gray-100 text-gray-700">Cotizaciones</a>
    <a th:href="@{/admin/products}" class="block px-4 py-2 rounded hover:bg-gray-100 text-gray-700">Productos</a>
    <a th:href="@{/admin/promotions}" class="block px-4 py-2 rounded hover:bg-gray-100 text-gray-700">Carousel</a>
    <a th:href="@{/admin/logout}" class="block px-4 py-2 rounded hover:bg-red-100 text-red-600">Cerrar sesión</a>
  </nav>
</div>
<div class="w-[90%] mx-auto bg-white p-6 rounded shadow">
  <h1 class="text-2xl font-bold mb-4 text-gray-700">Lista de pedidos</h1>
  <div class="overflow-x-auto">
    <table class="min-w-full border divide-y divide-gray-200">
      <thead class="bg-gray-50">
      <tr>
        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">ID</th>
        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">Netpay Pago ID</th>
        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase">Email</th>
        <th class="px-4 py-2 text-center text-xs font-medium text-gray-500 uppercase">Acciones</th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-100" th:if="${orders != null or !#lists.isEmpty(orders)}">
      <tr th:each="order : ${orders}">
        <td class="px-4 py-2 text-sm text-gray-700" th:text="${order.id}">1</td>
        <td class="px-4 py-2 text-sm text-gray-700" th:text="${order.getOrdenPago()}">Juan Pérez</td>
        <td class="px-4 py-2 text-sm text-gray-700" th:text="${order.getUsuario().getEmail()}">juan@example.com</td>
        <td class="px-4 py-2 text-center">
          <a th:href="@{'/admin/order/' + ${order.id}}" class="text-blue-500 hover:underline text-sm">Ver</a>
        </td>
      </tr>
      </tbody>
      <tbody th:unless="${orders != null or !#lists.isEmpty(orders)}">
      <tr>
        <td colspan="5" class="px-4 py-4 text-center text-gray-500">No hay pedidos activos.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>